[2016-07-28 15:15] ugurdogrusoz opened #1 "Menu look customization"
Can we at least allow the menu bounding rectangle to be a rounded rectangle for flexible styling?

[2016-07-28 15:19] ugurdogrusoz opened #2 "Disable tooltips"
Tooltips might be used to provide help on the menu items but the users might prefer to disable them. Maybe an option to disable them if not needed?

[2016-07-28 15:21] ugurdogrusoz opened #3 "Minimal functional demo"
It'd be great if the minimal functionality on context menus of the demo were actually working. For instance,
- Node: Remove, Select All Nodes
- Edge: Remove, Select All Edges
- Core: Add node, Remove Selected

[2016-07-29 13:12] metincansiper commented on #3
I added these functionalities to demo files.

[2016-07-29 13:17] metincansiper commented on #1
Users can set such 'css' properties using 'menuItemClasses' and 'contextMenuClasses' options and defining related 'css' classes in application level. I have added desired styling to 'demo-customized.html' in this way. I think that the same is true for #2 as well.

[2016-07-29 17:22] #3 closed

[2016-07-29 17:22] #1 closed

[2016-08-04 17:29] maxkfranz opened #4 "API collisions etc"
This extension writes many things to the global `Core` prototype.  That means you can have collisions with other extensions.  An extension is supposed to set only one field in the prototype of the core and/or collections -- the same as the extension name.

It would be better to have something like this:

[code]

[2016-08-05 12:49] metincansiper commented on #4
You are right I will fix this.

[2016-08-12 08:49] metincansiper commented on #4
Now, the extension sets just one field (.contextMenus) in the core.

[2016-08-12 13:57] maxkfranz commented on #4
Great!  Thanks

[2016-08-12 13:57] #4 closed

[2016-08-17 18:27] blacksmithblack opened #5 "cytoscape not defined in require"
Hi ...

I'm initialising the menu as suggested below

[code]

However I get the following error when I 'require' the context-menu.

2318 @ cytoscape-context-menus.js:420
__webpack_require__ @ bootstrap 414671b…:50
2383 @ app.js:11__webpack_require__ @ bootstrap 414671b…:50
0 @ analysisCentre.entry.js:29
__webpack_require__ @ bootstrap 414671b…:50
webpackJsonpCallback @ bootstrap 414671b…:21
(anony

[2016-08-17 21:01] blacksmithblack commented on #5
Don't seem to be able to get the demo working either ....

fiddle is here [https://jsfiddle.net/blacksmithsblack/wzoyzo4c/2/](url)

[2016-08-17 22:09] metincansiper commented on #5
@blacksmithblack I made some fix on this issue. Is version 2.0.1 working for you in the following way?

var cytoscape = require('cytoscape');
    var jquery = require('jquery');
    var contextMenus = require('cytoscape-context-menus');

    contextMenus( cytoscape, jquery ); // register extension

[2016-08-17 22:50] blacksmithblack commented on #5
Looks like I get this now ...

    at createAndAppendCxtMenuComponent

Apologies ... Demo is working ... my mouse isn't :(

[2016-08-17 23:14] blacksmithblack commented on #5
Further ....

createAndAppendCxtMenuComponent @ cytoscape-context-menus.js:207
(anonymous function) @ cytoscape-context-menus.js:395
(anonymous function) @ app.js:840
F @ $.export.js:30
initGraph @ app.js:787
(anonymous function) @ app.js:974
invoke @ angular.js:4478
extend.instance @ angular.js:9136
nodeLinkFn @ angular.js:8248
compositeLinkFn @ angular.js:7680
publicLinkFn @ angular.js:7555
link

[2016-08-17 23:39] blacksmithblack commented on #5
Fantastic ... yes that works.

Thank you !

[2016-08-17 23:39] #5 closed

[2016-08-18 07:00] metincansiper commented on #5
I think that it was an important bug thank you for letting me know it.

[2017-01-04 19:48] grigorijski opened #8 "do not use standart button title attribute (to avoid standart browser tooltips)"
I propose to use custom attribute to display menu item title. If using standart "title" attribute tooltip is shown in addition to menu item (with same text) if I stay on item for a while

Proposed changes :

Library
[code]
CSS:
[code]

[2017-01-26 15:04] geirmeyer opened #9 "No visible menu when used in Node.js"
The menu is not shown when setting it up in a Node.js application.

By adding console.log messages into cytoscape-context-menus.js shows that the menu-system is used, for instance is function adjustCxtMenu() called from a right-click.

Page https://github.com/iVis-at-Bilkent/ lists cytoscape.js-context-menus as html and not javascript.
Is it not possible to use it within a Node.js application?

Th

[2017-01-27 08:12] metincansiper commented on #9
@geirmeyer we use this extension with commonjs. Please see 'https://github.com/iVis-at-Bilkent/sbgnviz.js-sample-app/'. Extension is registered here (https://github.com/iVis-at-Bilkent/sbgnviz.js-sample-app/blob/master/app/main.js#L30) and it is initilized here (https://github.com/iVis-at-Bilkent/sbgnviz.js-sample-app/blob/master/app/main.js#L30). Application is deployed to 'http://www.cs.bilkent.

[2017-02-28 12:29] geirmeyer commented on #9
Thanks, yes it is working :) (my fault, the css file had been commented out....)

[2017-02-28 12:29] #9 closed

[2017-03-15 11:30] ov7a opened #10 "Submenus"
Please, add the ability to create submenus. E.g. it can be implemented by adding `parent` option to menu item.

[2017-05-28 08:26] metincansiper commented on #2
@ugurdogrusoz the I considered the suggestion in #8 it works to disable tooltips, but then I realized that you want this to be optional and I reverted that change for now.

I think that instead of an option to disable tooltips globally or per menu item we may have an option called 'tooltip' or 'title' (Currently 'title' is the option name we use to set the content of each menu item I think that is

[2017-05-28 11:27] metincansiper commented on #2
I make the changes that I mentioned in the previous comment. I named the option, previously named as "title", as "content". I added "tooltipText" option which determines the tooltip text of a menu item. If it is not set for a menu item then that menu item does not have a tooltip. After making these changes I relased v3.0.0

[2017-05-28 11:32] metincansiper commented on #8
@grigorijski thanks for your suggestion I considered it. I renamed "title" option as "content" and added a "tooltipText" option which determines the tooltip text for a menu item. If you do not set this option for a menu item then that menu item will not have a tooltip. After making these changes I published v3.0.0. You can see  the discussion at #2. I am closing the issue if you need you can re-op

[2017-05-28 11:32] #8 closed

[2017-05-28 16:52] #2 closed

[2017-06-23 14:02] finger563 opened #11 "Cannot have multiple cytoscape instances side-by-side which each enable context menus."
Only the most recently created cytoscape instance will have functional context menus. The other cytoscape instances will not respond to the right-click event (nothing will show up)

[2017-06-24 13:40] metincansiper commented on #11
@finger563 It fixed this in master branch.  Would you verify that your problem is fixed?

[2017-06-27 09:03] pumpadump opened #14 "Context menu 3.0.1 from npm is missing css files if build with webpack"
Hi,
I'm using the context menu in a project that is build with the react starter project (webpack).
It works locally, but when i run a production build (minified css + js) the css for the context menu is missing. If i revert back to 3.0.0 everything works fine.

best

Samy

[2017-06-28 19:33] finger563 commented on #11
Thanks, i'll check it shortly :)

[2017-06-28 19:43] finger563 commented on #11
It did fix it :) (though right clicking in one and then right clicking in the other did show both context menus at the same time, which might not be desired behavior)

[2017-06-28 19:46] metincansiper commented on #11
To me it is the expected behaviour because these are two seperate instances.

[2017-06-28 20:05] finger563 commented on #11
Sounds good :)

[2017-06-29 13:39] maxkfranz opened #15 "Document css class usage"
There's already a great example stylesheet in the repo: https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/blob/master/cytoscape-context-menus.css

It would be good to have explicit descriptions of each class name in the readme.

[2017-07-02 13:16] metincansiper commented on #15
@maxkfranz we have not documented them because the users are already able to customize the context menu itself and the menu items using ```menuItemClasses``` and ```contextMenuClasses``` options. Each context menu (one per each cytoscape.js instance where this extension is registered) has classes specified by ```contextMenuClasses``` along with  ```cy-context-menus-cxt-menu```. Each context menu i

[2017-07-02 13:17] #11 closed

[2017-07-02 13:25] metincansiper commented on #14
Hi @pumpadump,
For the issue 'https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/issues/11' I needed to switch the selector of context menus from ```#cy-context-menus-cxt-menu``` to ```.cy-context-menus-cxt-menu``` (Now there should be one context menu for each cytoscape.js instance where this extension is initilized, so I needed to change it). As you can see changing it required a chan

[2017-07-05 20:54] maxkfranz commented on #15
OK.

If the user is expected to include the default stylesheet, then we should probably point the `style` field of `package.json` to the css file so it's more automatic.

[2017-07-11 15:27] kinimesi commented on #14
@pumpadump do you still have a problem with the minified css?

[2017-07-13 15:37] kinimesi commented on #14
@pumpadump if you still have the same problem, please let us know.

[2017-07-13 15:38] #14 closed

[2017-07-24 09:20] metincansiper commented on #15
@maxkfranz I added that field to ```package.json```. Would you close the issue if there is no problem?

[2017-07-25 14:13] #15 closed

[2017-07-26 16:02] alexcli opened #16 "Feature Request: Zenodo Integration"
Might be a good idea to add this extension to Zenodo (https://zenodo.org/). Really easy to set up and it integrates with GitHub so that on every new release it will automatically register the extension with a new DOI.

[2017-08-22 17:13] maxkfranz opened #17 "Context-menus out of the screen #1920"
Report by @qtttttttttting

**Issue type**

Bug report

**Environment info**

- Cytoscape.js version :  v3.1.2
- Browser/Node.js & version : chrome 59.0.3071.115

**Current (buggy) behaviour**

I use the context-menus of UI extension  , but when the node is on the right or bottom of the screen ,the context-menus will beyond the screen .And I see the source code ,it does not consider this situation.

[2017-10-26 11:59] pumpadump commented on #14
Hi sry for the late reply, i can confirm that this issue is resolved by updating our css files

[2017-11-07 12:24] kinimesi commented on #17
Please see https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/pull/19#issuecomment-342466661

[2017-12-13 19:09] BMahabir opened #22 "How to import to Ember?"
Can anyone tell me how to import this extension into my Ember project?  It's just not clear to me from the instructions given.  I have already installed it locally using npm install.  Thank you!

[2017-12-14 14:15] ugurdogrusoz commented on #22
@BMahabir as can be seen from the name and description, this is a Cytoscape.js extension. Refer to [Cytoscape.js web page](http://js.cytoscape.org/#extensions) for help.

[2017-12-14 14:15] #22 closed

[2017-12-22 21:35] BMahabir opened #23 "Context menu appears way off the screen, have to scroll to see it"
I simply cut-&-paste the example from the basic demo into my prototyping project, and this is the result.  First SS is right-clicking on whitespace, second SS is from right-clicking on a node.  Also the X appears at the very top-left of the screen (not shown).

![image](https://user-images.githubusercontent.com/1659720/34312985-f83d64be-e735-11e7-8786-ef64429ad3bb.png)
![image](https://user-images

[2017-12-24 14:50] kinimesi commented on #23
@BMahabir It looks like you did not include CSS file. Make sure that you include [cytoscape-context-menus.css](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/blob/master/cytoscape-context-menus.css) file.

[2017-12-27 14:16] #23 closed

[2018-01-30 03:37] BMahabir opened #24 "How use this extension with a left-click?"
I have fully fleshed out and implemented this extension in my project, and now management wants to be able to access context menus with a left-click instead of a right-click.  I don't want to scrap this and start over with a different extension/library/etc... is there any way to do this with this extension?  (or something equally simple).

Thanks for your time!

[2018-01-30 09:40] kinimesi commented on #24
@BMahabir currently there is no option for changing the events which show and hide context menu (it is shown on right-click and hidden on left-click).

Please feel free to make a PR for displaying the context menu with left-click as an option.

[2018-03-25 03:31] hippofant opened #25 "Node-specific data as text in context menu?"
Hi,

Is there a way to use the context menu itself to show information attached to the node in CytoJS? With the onClickFunction, I can target the node using event.target and access its attributes, but I'd like to do something similar with the static text. So something like:

[code]
So the user could be informed where the link is going, depending on the node they're clicking.

[2018-03-25 16:16] kinimesi commented on #25
@hippofant Currently the content field only accepts text. But you can achieve the desired functionality by combining Cytoscape.js event and jQuery, see [this example](http://jsbin.com/tehumurudu/)

[2018-06-15 12:17] calebeaires opened #27 "Remove dependence of jQuery"
Our tean intend to use it on a angular 6 project. How to use this extension without jQuery dependece?

[2018-06-18 12:19] kinimesi commented on #27
@calebeaires currently there is no way of using this extension without jQuery, it is heavily dependent on jQuery.

At the moment, we do not have enough resources to allocate to this issue. If you would like to remove jQuery dependency, feel free to make a pull request.

Thanks.

[2019-02-13 13:56] rkaliyug opened #29 "How to use this with ES6 module syntax"
Hi,

I am trying to use this plug-in with ReactJs using import module concept. I have tried as below but not working. Would you please throw some light on this about how to make it work with Es6 module system

import jquery from "jquery";
import contextMenus from "cytoscape-context-menus";
 class myclass extends React.Component {
   constructor(){
     // Plug-in to support context-menu
    contex

[2019-02-13 15:49] rkaliyug commented on #29
Its working but getting displayed in somewhere cornor of the UI..Would you help me to display it on the mouse click location?

[2019-02-13 20:11] kinimesi commented on #29
ES6 syntax:
[code]
I believe you don't import the CSS. Make sure that you import the CSS as well.

[2019-02-14 03:03] rkaliyug commented on #29
Thanks [kinimesi](/kinimesi). It works now.

Any reason why i have to import it separately?

[2019-02-14 05:51] kinimesi commented on #29
Currently, our extension does not have support for submenus https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/issues/10

[2019-02-14 05:51] #29 closed

[2019-05-15 15:05] alkorolyov opened #30 "Failed to import cytoscape-context-menus.js by AMD require method"
Hi,

I am currently trying to create and customize cytoscape widget for jupyter notebook. I have already succesfully implemented `cytoscape-popper.js` functionality, however I failed to load `cytoscape-context-menus.js`. During the tests I run simple `test.js` with one `require` statement which gave me `contextMenus` variable undefined. I have downloaded the latest versions of all cytoscape, requi

[2019-05-15 21:07] kinimesi commented on #30
Did you check the README?  Using the code giben in the README should work.
[code]

[2019-05-16 20:58] alkorolyov commented on #30
Thank you! It works as you mentioned. Now I have a continuation of my quiestion. I am trying to debug javascript part of my widget in jupyter notebook using `%%javascript` keyword. Could you please suggest how can I import cytoscape-context-menus in jupyter notebook?

Currently I import `cytoscape`/`cytoscape-popper` and some other modules using the following construction. All `.js` files are in t

[2019-05-18 19:25] alkorolyov commented on #30
Ok,  I finally figured out how to to this. A colleague of mine advised me to use the `custom.js` in the `~/.jupyter/custom/custom.js` folder. It starts with the main kernel so I copied`cytoscape-context-menus.js` file to the `~/.jupyter/custom` folder and added the this line of code to `custom.js` which allowed to use `cytoscape-context-menus` in every jupyter notebook I run.

`require(['custom/cy

[2019-05-20 09:08] #30 closed

[2019-06-12 06:00] #25 closed

[2019-06-14 11:29] Marooned-MB opened #31 "Different set of menuitems per node"
Hi
Is there a way to have different menu items for particular nodes?
In my graphs nodes have different states (and classes) like "success", "running" etc - I would like to display different set of menu items for particular class. How can I achieve that?

I can see `selector` field but in some example I saw syntax like `node[?foo]` and `node[!foo]` but couldn't find that in the documentation.

Than

[2019-06-14 12:40] hasanbalci commented on #31
It is not written in the documentation explicitly, but you can use selector field with Cytoscape.js [selectors](http://js.cytoscape.org/#selectors).

Here are some examples from another application:
https://github.com/iVis-at-Bilkent/newt/blob/2c7697db7e613f43dcb5de94003a1573c35b3760/app/js/app-cy.js#L124 and https://github.com/iVis-at-Bilkent/newt/blob/2c7697db7e613f43dcb5de94003a1573c35b3760/app

[2019-06-14 12:50] Marooned-MB commented on #31
Oh great, that make sense. Thanks!

[2019-06-14 12:50] #31 closed

[2019-06-21 07:50] nasimsaleh commented on #17
@ugurdogrusoz  you can test it in the simple demo the unstable branch.

[2019-06-21 08:24] ugurdogrusoz commented on #17
thanks @nasimsaleh seems to work well

[2019-06-21 08:24] #17 closed

[2019-07-09 16:07] Raven0us commented on #31
Should be written in the docs, it's a valuable piece of information. It's the only way you can conditionally display/hide menu items, the `show` property can't be used with a callback.

[2019-07-09 16:10] ugurdogrusoz commented on #31
@Raven0us makes sense. @hasanbalci let's please make sure it's mentioned in the README.

[2019-09-02 15:06] dtsvetanov commented on #10
Hi @ugurdogrusoz, is there a chance of this being implemented soon?

[2019-09-03 11:56] ugurdogrusoz commented on #10
@dtsvetanov Unfortunately not. We do not have the resources for it. Feel free do make a PR though.

[2019-09-03 14:36] alihanokka opened #32 "Demo is confusing"
- The selected layout in the demos('simple' and 'customized') puts multiple edges on top of each other. So, it seems as if the menu items, hide and remove, are not working properly.

![Peek 2019-09-03 16-58](https://user-images.githubusercontent.com/15351692/64180984-5cca5880-ce6e-11e9-8ad7-75c6294b6ab2.gif)

- A minor detail, but it is stated that the third demo is 'with different menu items'. Bu

[2019-09-03 15:46] ugurdogrusoz commented on #32
Let's also make the demos consistent (border vs no border and layout)

[2019-09-05 06:54] nasimsaleh commented on #32
The last demo has an extra menu item to undo the last remove of a node or an edge. It only appears if a node or an edge is deleted. the 'customized' demo is different now to clearly show different styling.

[2019-09-05 07:12] ugurdogrusoz commented on #32
@alihanokka Please check and close if you think it's OK as well.

[2019-09-24 09:32] #32 closed

[2019-12-17 16:07] invaders-xx opened #35 "Display context menu on touch screen"
I am not able to display the context menu on a touch screen : I tried with two fingers with no success.
Is there a way to bind the display of the menu on an event tap ou touch ?

Many thanks in advance,

David

[2019-12-17 18:14] hasanbalci commented on #35
Two-finger tap is already bound to display menu. It works both in my laptop's and in my smartphone's touch screen. However, it is a little bit harder in the smartphone.

[2019-12-22 21:40] Hoogkamer commented on #35
I also experience problems with the two-finger tap.
I created a PR to give the option to use taphold, which works better on touch screens in my experience.

Regards,
Michael

[2019-12-23 22:03] Hoogkamer opened #37 "Problem with changing options"
Hi,
I want to be able to switch between a desktop-friendly and a mobile-friendly menu.

But when I recall cy.contextMenus(options) with new options it does not seem to work correctly anymore:
- The menu pops up at a strange position
- Selectors don't work anymore.

Example, when I add this to demo.html after line 190
[code]
I get this when I click on Kramer (or any other element)

![image](https:/

[2019-12-24 14:44] hasanbalci commented on #37
@Hoogkamer I can't reproduce this issue. When I tried your example it works correctly. You can see it [here](https://jsbin.com/sojixeqepi/edit?html,css,js,output). Can you please provide a reproducible test case including OS and browser version?

[2019-12-24 18:51] Hoogkamer commented on #37
You are right. I tested this by mistake with my local changed version in stead of the original.
I tried to implement the option for taphold, but did it wrong.

Now it works, I will create a new PR for the proper taphold option.

Thanks for looking into this.

[2019-12-24 19:51] #37 closed

[2019-12-30 07:48] hasanbalci commented on #35
Taphold option is added (especially for touchscreens) thanks to @Hoogkamer in the unstable branch. It will be available with the next release.

[2019-12-30 07:48] #35 closed

[2019-12-31 07:02] vitaly87 opened #39 "Context-menu isn't hidden on zoom and scroll"
Hi,
I am using context menu the issue that on scroll and zoom the menu isnt hide,
Do have any option to pass for this? also same for navigation from page to page its still present.

[2019-12-31 07:05] ugurdogrusoz commented on #39
@vitaly87 If I understand correctly, you would like to close any open context menu on zoom or scroll. This extension does not support such behavior. Feel free to contribute by implementing it with a pull request.

[2020-04-05 15:27] hasanbalci commented on #24
This can be achieved from now on with [v3.1.0](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/releases/tag/v3.1.0) by using `evtType` option.

[2020-04-05 15:27] #24 closed

[2020-05-31 12:16] ErnestManukyan opened #43 "Is there any way to use contextMenus extension in Angular 9 application ?"
compilation error `Property 'contextMenus' does not exist on type 'Core'.`

[2020-05-31 12:52] canbax commented on #43
1. put `"node_modules/cytoscape-context-menus/cytoscape-context-menus.css"` inside the array `"styles"` inside the file "angular.json".

2. import the library and other necessary libraries inside a ts file like

[code]

And then register the extension like `cytoscape.use(contextMenus, $);`. Then you can use it as described in the API of the extension.

[2020-05-31 13:11] ErnestManukyan commented on #43
cytoscape.use() method has only one input parameter

[2020-05-31 13:19] ErnestManukyan commented on #43
/**
     * Register imported extension into cytoscape
     * @param module Entry point for the extension, got by module = require('cy-ext')
     * or by import module from 'cy-ext'
     * http://js.cytoscape.org/#extensions
     */
    function use(module: Ext): void;

[2020-05-31 13:37] canbax commented on #43
my dependencies are. It works fine for me.
[code]
did you try running?

[2020-05-31 14:23] ErnestManukyan commented on #43
It's still not working.
First of all, I have a problem when trying to register the extension.

![image](https://user-images.githubusercontent.com/37364603/83354762-da72b480-a36b-11ea-87d1-038ea12472a2.png)

[2020-05-31 14:25] ErnestManukyan commented on #43
I did update and the packages versions are the same as You have.

[2020-05-31 14:35] ErnestManukyan commented on #43
Can you please share your use method's signature ?

[2020-05-31 15:11] canbax commented on #43
I think you are importing types for cytoscape. I recommend you to not do that.

cytoscape.js and probably all of its extensions do **not** support typescript natively. There might be some wrappers around them to use typescript.

You should import cytoscape and extensions as JAVASCRIPT modules. So there won't be any type information. With js the editor won't  show you such errors.

[2020-05-31 16:09] ErnestManukyan commented on #43
@canbax helped me to change my code.
So, the problem was about importing types like typescript. We imported cytoscape and extensions as JAVASCRIPT modules and now everything works fine.
Dear @canbax thank you very much !!!

[2020-05-31 16:09] #43 closed

[2020-06-01 11:45] alejoar commented on #27
I wish this too

[2020-06-05 23:23] cosmorunner opened #44 "contextMenuClasses are not applied correctly"
Hi there,

when I use the following option:
`
contextMenuClasses: [
        'border',
        'm-0',
        'border-primary'
    ]
`

The classes are applied as shown here:
`<div class="border cy-context-menus-cxt-menu" m-0="" border-primary="" style="inset: auto 615px 432px auto;">...</div>`

It seems that only the first class is applied.
Or am I missing something?

Cheers!

[2020-06-06 07:32] hasanbalci commented on #44
@cosmorunner It seems that you're right. I fixed the issue in the "unstable" branch. Can you please test and verify? If it's ok, the fix will be available with the next release.

[2020-06-08 06:07] canbax commented on #44
I see the same issue. I can confirm that it is fixed. Thank you

[2020-06-08 20:18] #44 closed

[2020-07-07 07:12] #27 closed

[2020-07-08 11:05] ugurdogrusoz commented on #10
@hasanbalci Could you please review the demos and tidy them up? Combining them if possible and naming them properly...

[2020-07-09 14:06] #10 closed

[2020-07-09 14:10] #39 closed

[2020-08-09 14:15] Raven0us commented on #27
Bump @ this. Are there any bugs that need to be addressed in order to make `unstable` -> `master` merge possible?

[2020-08-09 19:14] ugurdogrusoz commented on #27
@Raven0us Not anything we know of. Feel free to test and let us know. We normally do a thorough test once a year or so and then do a merge and publish a module.

[2020-08-20 02:44] liuliuliuzy commented on #10
I want subMenus, too...

[2020-09-08 14:13] msalihaltun opened #52 "Menu options not correctly updated in unstable demos"
In both of the demos in [unstable](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/tree/unstable), when select all nodes/edges options are used and then elements are manually unselected -via click on anywhere for example-, the option that appears on the context menu is still "unselect", even though elements are unselected already. Seems to be an oversight.

[2020-09-09 08:07] ugurdogrusoz commented on #52
@hasanbalci Please check

[2020-09-09 08:12] #52 closed

[2020-09-25 20:12] blazespinnaker opened #53 "submenu bug when height of menus increased."
There is a bug when you increase the height of the top level menus in the css.  The submenus are not adjacent (they are to the right and above) so you can't mouse over from the top menu to the submenus without them closing first.  I can attempt a PR if someone provides a brief overview of the rendering flow of submenus.

[2020-09-27 08:12] ugurdogrusoz commented on #53
@blazespinnaker Thanks for reporting this problem. Can you please provide your code to reproduce this code? At least a screenshot of what you see.

[2020-10-07 12:05] msalihaltun commented on #53
I couldn't reproduce this. Can be adressed if more information is provided in the future.

[2020-10-07 12:06] ugurdogrusoz commented on #53
Closing now since there hasn't been a response.

[2020-10-07 12:06] #53 closed

[2020-11-24 11:43] alhuber1502 opened #54 "manual trigger for showing/closing cxtMenu?"
I'm trying to use _cytoscape.js-context-menus_ with the _edgehandles_ extensions and use the events defined in the latter to trigger UI options.

Is it possible to simply hide/show _cytoscape.js-context-menus_, like
[code]
and still get the selector-based options defined in the contextMenu options?

Thanks!

[2020-11-24 18:05] ClientsideDesign opened #55 "TypeError: Illegal constructor in Safari on desktop"
In Safari on desktop an `Illegal constructor` error is thrown, which prevents the menu from working:

<img width="535" alt="Screenshot 2020-11-24 at 18 01 02" src="https://user-images.githubusercontent.com/6104494/100133763-156b2600-2e7f-11eb-9bba-30c79ea78eb8.png">

All of your demos seem to be affected - happy to help with any further information.

Thanks

[2020-11-28 12:10] #54 closed

[2020-12-21 12:25] msalihaltun opened #56 "Force remove trailing divider from last menu item"
This problem should be handled at rendering level since menu items can be dynamically hidden/shown.

[2020-12-22 11:29] msalihaltun commented on #56
I have now realized there is no easy way to implement this without major changes. May leave it up until later and come back to it.

[2020-12-29 10:20] msalihaltun commented on #56
@hasanbalci can you confirm that it works?

[2020-12-30 12:51] msalihaltun commented on #55
I think this issue is caused by the usage of [custom elements](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements). I'm not sure we can polyfill it in a simple way, maybe we can use [this polyfill](https://github.com/ungap/custom-elements-builtin) but we need to be aware of this [section](https://github.com/ungap/custom-elements-builtin#constructor-caveat) in their R

[2020-12-31 12:19] hasanbalci commented on #56
@msalihaltun Thanks, it works!

[2020-12-31 12:19] #56 closed

[2021-02-24 04:01] lbakke commented on #55
I'm also getting this issue in Electron.

[2021-02-24 08:23] ugurdogrusoz commented on #55
@ClientsideDesign @lbakke unfortunately we don't have resources to work on this at the moment. Feel free to make a patch and issue a PR on the *unstable* branch if you like.

[2021-02-24 16:29] lbakke commented on #55
ok, no problem. @ugurdogrusoz  I see that you're also involved with development for cytoscape-edge-editing, could you tell me if you can use edge-editing in any extent without the use of context-menu's in the cytoscape graph?

[2021-02-24 17:39] ugurdogrusoz commented on #55
@lbakke in fact none of our extensions depend on each other and all should be compatible with our knowledge. Enjoy! :)

[2021-02-24 18:08] lbakke commented on #55
Okay, thank you! However when I try using edge-editing with the default parameters, right-clicking on an edge produces the error "contextMenus is not a function" which is why I thought it context-menu was necessary in order to use edge-editing. Is there a way to add bend points or remove them without using context-menu?

[2021-02-24 18:13] ugurdogrusoz commented on #55
You are right I completely forgot that we need the context menus to facilitate adding and removing bend / control points.

[2021-06-16 12:20] msalihaltun commented on #55
Can confirm that this issue is still persistent with latest version of Safari.

[2021-08-18 12:52] KonradHoeffner opened #60 "submenu-indicator-default.svg missing when using SvelteKit / vite"
I can use this library with SvelteKit with the following code and everything works except the submenu indicator, as I get a 404 of `http://localhost:5000/assets/submenu-indicator-default.svg` when using `vite build` and then `vite preview`.
Svelte does place it under `assets/submenu-indicator-default.80459c67.svg` but it does the same thing for the css, which gets combined into `assets/index.6986e

[2021-08-18 18:45] onsah commented on #60
Hi, I didn't use SvelteKit and vite before but this issue seems related to the framework you use rather than this library. If you think it is related to this library please provide more details or propose the solution by yourself by opening a PR.

[2021-08-19 09:23] KonradHoeffner commented on #60
You are right, this was indeed a Vite issue. For other Vite users:

1. Upgrade Vite to at least 2.5.0
2. Add the following build options to your `vite.config.js`:

[code]

This fixed it at least in production mode, in dev mode it is still missing the submenu indicator but that isn't a problem for me.

[2021-08-19 09:23] #60 closed

[2021-08-23 13:24] Bokomoko opened #61 "Context menu doesn´t show if browser is in full screen"
Create a simple graph and assign a context menu.
Right click on the node/edge to show context menu
Press F12 on your browser to switch to full screen
The context menu won´t appear anymore

[2021-09-09 08:13] hasanbalci commented on #61
@Bokomoko Could you please share your environment (OS, Browser) that you have problem? I couldn't reproduce it.

[2021-12-15 17:07] kmprakashbabu opened #62 "mouseover event is activated for the entities under the context menu"
When the context menu is shown and while hovering the context menus, if there are nodes or edges under those context menus then those elements mouseover is activated.

In  my case, I have tooltip enabled for the elements on mouseover and when I hover over the context menu and if there are any elements under the menus then tooltip for the underlying elements is shown.

Could you please take a look?

[2021-12-20 07:18] hasanbalci commented on #62
It seems that we stop some events such as mousedown and mouseup, but not mouseover. We'll look into it.

[2021-12-20 16:25] kmprakashbabu commented on #62
Thank you @hasanbalci

[2022-02-03 12:16] jonng1000 opened #63 "Trigger context menus only for nodes."
Hi, how do I trigger context menus only for nodes?

I did:

[code]

But had a
`TypeError: evt.target.contextMenus is not a function`

Could I get detailed instructions on how to trigger this for only nodes please? If Iuse the popper code above, it seems to work.

Thank you
Jonathan

[2022-02-03 12:25] jonng1000 commented on #63
Oh, and I also want to display node attributes in the menu. Thanks =)

[2022-02-03 12:50] hasanbalci commented on #63
A request for help or a request for a how-to should be directed to Stack Overflow:
http://stackoverflow.com/questions/tagged/cytoscape.js

[2022-02-03 12:50] #63 closed

[2022-02-03 13:08] jonng1000 opened #64 "Pop up menu appears outside cytoscape network, even when nothing is clicked"

[2022-02-03 13:21] canbax commented on #64
I observed similar things with an angular app before. It goes away after you click or pan, zoom to the canvas. It might hide the context menu items later with an event. For now, you might try [emitting the event](https://js.cytoscape.org/#cy.emit) manually.

[2022-02-03 13:24] canbax commented on #64
Try `cy.zoom(cy.zoom())` it will set the zoom level

[2022-02-03 13:34] jonng1000 commented on #64
Hi I did that but it didnt work. Any other suggestions?

[code]

I included your suggestion at the bottom

[2022-02-04 05:45] canbax commented on #64
@jonng1000 You should not write your application logic code in there. Follow some react.js tutorials, read docs about it.

[2022-02-06 09:41] canbax commented on #64
@jonng1000 I tried `this.cy.pan(this.cy.pan());` it was working

[2022-02-07 15:30] jonng1000 commented on #64
Ok thanks so much for your help! =)

[2022-04-05 19:07] mltn123 commented on #54
DId you ever find a solution for that particular issue?

[2022-04-14 15:09] KonradHoeffner opened #65 "multiple event types"
I would like to open the menu with a right click with a mouse, but with taphold on a touchscreen. Is it is possible to use multiple events or could this be added?

[2022-04-14 15:11] KonradHoeffner commented on #65
`evtType: 'cxttap taphold'` seems to do the trick.

[2022-04-20 08:04] sp21 commented on #62
Hi Even am facing this Issue,  the mouse hover  under the context menu is activated. Is there any closure on this issue or is there any work around we an try.

[2022-04-22 21:46] lilfrootyloops opened #66 "How can I dynamically add items in a submenu?"
**Description:**
In my Next.js application, I am trying to create a submenu that is dynamically updated to include specific options depending on what kind of node has been selected. The values for the submenu items are already being passed into the overarching menu via an `evt` object. I have tried using `submenu.push()`; however, I am running into the following error:

Before putting together fun

[2022-04-25 09:40] canbax commented on #66
@lilfrootyloops
Firstly, you cannot push while defining an object. `submenu.push` This call not be **inside** the object definition.

Secondly, if you read the API and documentation, you will see an [appendMenuItems](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus#instanceappendmenuitemsitems-parentid--undefined) this might be best way to append new items dynamically.

[2022-04-25 22:40] #66 closed

[2022-04-25 23:36] lilfrootyloops opened #67 "How can I check if a particular submenu item already exists?"
**Description:**
I've implemented functionality to dynamically add items to a submenu depending on the kind of node that has been selected using `appendMenuItems()`. However, when I open the context menu immediately again, even for a completely different node, I am running into the following runtime error:

I understand why I would see this error if I were to open the context menu for the same nod

[2022-04-26 12:20] canbax commented on #67
Actually, you can check it manually on your own since you are the one who is calling the `appenMenuItems` function with certain IDs.

But I should admit that an API method like `getMenu()` might have been useful here.

[2022-04-26 13:01] lilfrootyloops commented on #67
Could you please provide an example of how I can check it manually on my own? As I mentioned in the original post, I am not sure how I would be able to do that.

I understand that I can manually add menu items with specific IDs using `appendMenuItems`, but working with specific IDs to perform actions only seems possible with `appendMenuItems` and Cytoscape Context Menus library's other pre-built f

[2022-04-26 14:40] lilfrootyloops opened #68 "Is it possible to generate a fresh context menu during every right-click event on a node?"
**Description:**
As I mentioned in my other [issue](https://github.com/iVis-at-Bilkent/cytoscape.js-context-menus/issues/67), after implementing functionality to dynamically add items to a submenu depending on the node that has been selected using `appendMenuItems()`, I'm currently running into a runtime error whenever I open a context menu for either the same or a different node after opening a c

[2022-04-26 23:45] #68 closed

[2022-04-27 00:04] lilfrootyloops opened #69 "How can I add styling only to a submenu?"
**Description:**

I see that there's built-in functionality through `menuItemClasses` and `contextMenuClasses` to add styling to both menus and submenus; however, I would like to add styling **only** to a submenu and **not** the menu. I have tried moving `menuItemClasses` and `contextMenuClasses` to inside where the submenu is being defined, but that does not work. Is it even possible to only styl

[2022-04-27 05:59] canbax commented on #67
Hi @lilfrootyloops

You can keep an object like `let currentMenuItems = {'one': true, 'two': true, 'three': true}`.

Then when you try to add a new menu item, you can check if it is already added.

[code]

[2022-04-27 07:38] canbax commented on #69
Currently, it does not support this. A menu and submenu are basically the same things, they are both menus. It doesn't look reasonable to implement such a thing. This might be a new feature.

But you can again achieve this by adding some CSS classes. You can define CSS for child DOM elements. Using them, this could be achieved I guess.

[2022-04-27 11:16] lilfrootyloops commented on #69
Thanks for the suggestion. However, if you read the second part of my question, you'll see why I'm trying to style only the submenu and not the menu:

^ Can you please address the second part of my question. Is this possible to do too? If so, I'd really appreciate it if it can be explained how to be done.

Regarding your suggestion for the first part of my question, can you please provide an examp

[2022-04-27 11:17] #67 closed

[2022-04-28 06:49] canbax commented on #69
This question is very specific usage of this library. Not really an issue with the library itself. The best way to get an answer to this is to ask on StackOverflow with minimal reproducible sample codes. Without code samples, things are a bit blurry

[2022-04-29 02:27] lilfrootyloops commented on #69
Clearly, this **is** an issue with the library itself — since I'm unable to style the submenu without identically styling the menu. In your previous comment, you suggested "adding some CSS classes" as a solution; however, it does not seem like it's even possible to create CSS classes to target the DOM elements being used for the submenus — and your lack of providing a concrete example of that, aft

[2022-05-02 15:05] lilfrootyloops commented on #69
@ugurdogrusoz. Is there anyone else who can be assigned to this issue?

[2022-05-03 05:26] ugurdogrusoz commented on #69
@lilfrootyloops Sounds like you are asking for a new feature, something the library does not currently support. @canbax is suggesting some work arounds. Unfortunately we don’t have the bandwidth to implement such new features. Anyone is welcome to work on this and do a PR however. We’d be happy to review and merge.

[2022-05-18 17:50] alhuber1502 commented on #54
Sadly no and  I didn't use the extension in the end.

[2022-06-07 16:25] matthughes opened #70 "Illegal constructor in 4.1 vs 4.0"
Any idea why this example (https://codesandbox.io/s/l2r00?file=/src/index.js:860-876) works with 4.0.0 but fails with 4.1.0?  You can change the version easily on the left-hand side.  Only difference I can see between the releases is an upgrade of webpack from 4 -> 5.  Is it possible that broke something with module export?

[2022-06-08 06:34] canbax commented on #70
Hi @matthughes Firstly codesandbox environment is very weird. I created a fork https://codesandbox.io/s/suspicious-fire-ucnnq0?file=/package.json and used 4.1.0 there. When I refresh this on my browser with my account signed in I see nothing. Not even an error. Firstly it renders canvas, then it disappears, then I don't see anything in logs.

https://user-images.githubusercontent.com/8426741/17254

[2022-06-08 12:15] matthughes commented on #70
Do you have a test or demo project that uses module support in 4.0?  Because in my work project, 4.0 works but 4.1 does not.  When I require the module in 4.1 it shows up as undefined whereas everything works in 4.0 so it seems like something changed in the module export.

[2022-06-09 08:28] canbax commented on #70
I tried to run a local version with node v10.15.3 and npm 6.14.15. I still get some errors but fixed them by copy-pasting the "imgs" and "fonts" folder into the "src" folder.

Now I can run locally but still, I don't see any error. I'm using Google Chrome 102 on Windows 10. What browser and operating system are you using? It might be related to the browser or OS.

Also, I see https://stackoverflow

[2022-06-22 15:11] matthughes commented on #55
And does anyone have a good way to check for this support so we can at least show the graph without the context menus.  Otherwise the whole page blows up.

[2022-06-23 17:38] ClientsideDesign commented on #55
@matthughes - did you see the polyfill suggestion on here? Not tried it myself. https://github.com/danieldietrich/candid/issues/17#issuecomment-1028455087

[2022-08-17 18:23] kumarabhirup opened #72 "Does not work on Next.js SSR/CSR"
I get the `self is not defined` error.

To fix that, I tried Next.js Dynamic, but the error persists in other ways.
[code]

I also tried this,
[code]

Am I missing something? Thank you!

[2022-08-18 07:34] hasanbalci commented on #72
@kumarabhirup I'm not experienced with Next.js, but you are probably trying to use extension in server side with Node.js, right? Can you confirm this? If this is the case, I think I know the problem and I can fix it.

[2022-08-18 07:44] kumarabhirup commented on #72
If it works with Server Side, it’d be great, if it works on Client Side on
Next.js without errors that’d be great too haha

On Thu, Aug 18, 2022 at 4:34 PM Hasan Balcı ***@***.***>
wrote:

[2022-08-18 07:59] hasanbalci commented on #72
@kumarabhirup I made a commit in unstable branch. Can you try unstable branch and check whether your problem is solved or not?

[2022-08-24 18:46] kumarabhirup commented on #72
@hasanbalci I am checking this out, and will let you know asap!

[2022-08-24 19:09] dkgitcode commented on #72
@hasanbalci @kumarabhirup and I just tried using the unstable branch and we are still getting the same `etc.apply` bug. After not dynamically importing we also get a `ReferenceError: HTMLButtonElement is not defined`. Any thoughts on how to fix? Perhaps we are not installing the unstable branch correctly? We npm installed the unstable git branch and ran npm run build inside the node module.

[2022-09-01 14:34] sveinp commented on #55
The suggestion seems to work in our case at least.

[2022-09-05 11:11] JoshuaeKaiser commented on #55
This

This worked for me also. Not ideal, but atleast its a workaround.

[2022-10-28 00:10] ajmeese7 commented on #72
Could we get this revisited? I'm having the same error with Svelte currently, I would definitely like to see this resolved so I can integrate this awesome module.

I also have SSR enabled, the Cytoscape instance isn't created until after the component is mounted, but the import statements are above that code, so my issue is likely the same as the one described above with Next.js.